#connect-button {
    -fx-padding: 1;
    -fx-background-image: url("../buttons/button-connect-en.gif");
}

#disconnect-button {
    -fx-padding: 1;
    -fx-background-image: url("../buttons/button-disconnect-en.gif");
}
